<section id="notes" class="bg-default" >
	<div class="container">
		<div class="row text-right visible-sm visible-md visible-lg visible-xl">
			<h2><small>All</small> Nova Bulletin</h2>
		</div>
		<div class="row text-right visible-xs">
			<h4><small>All</small> Nova Bulletin</h4>
		</div>
		<hr>
		<div class="row">
			<% @bulletins.each do |bulletin| %>
				LOL
			<% end %>
		</div>
	</div>
</section>	 