<section id="notes" class="bg-default" >
	<div class="container">
			<div class="row text-right visible-sm visible-md visible-lg visible-xl">
				<h2><%= current_user.email%></h2>
			</div>
			<div class="row text-right visible-xs">
				<h4><%= current_user.email%></h4>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12 visible-sm visible-md visible-lg visible-xl">
					<h3>New Payroll<button class="btn btn-success btn-md pull-right" onclick="handle_payroll_save()">Save</button></h3>
				</div>
				<div class="col-xs-12 visible-xs">
					<br>
					<h4>New Payroll<button class="btn btn-success btn-sm pull-right" onclick="handle_payroll_save()">Save</button></h4>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-7 col-md-6">
					<label>
						Employee name
					</label>
					<input class="form-control" id="employee_name" type="text" autofocus>
				</div>
				<div class="form-group col-xs-5 col-md-6">
					<label>
						Gross pay
					</label>
					<input class="form-control" id="pay_input" type="number">
				</div>
				<button class="btn btn-primary btn-block" onclick="handle_pay_input_submission()" >Submit</button>
			</div>
			<div class="row">
				<ul id="payroll_items" class="list-unstyled"></ul>
			</div>
	</div>
</section>
<script >

</script>