<section id="notes" class="bg-default" >
	<div class="container">
		<div class="row text-right visible-sm visible-md visible-lg visible-xl">
			<h2><small>Signed in as</small> <%= current_user.email%></h2>
		</div>
		<div class="row text-right visible-xs">
			<h4><small>Signed in as</small> <%= current_user.email%></h4>
		</div>
		<hr>
		<div class="row">
			<h2>Dashboard <small> Overview</small></h2>
			<div class="col-xs-12 calendar_wrapper">
					<div id="calendar_view">
						
					</div>
			</div>
		</div>
	</div>
</section>
<script>
	$(document).ready(function() {
		$('#calendar_view').fullCalendar({
			dayClick: function(date, jsEvent, view) {
		         alert("No events on this day");
		    },
		    eventClick: function(event) {
		    	location.assign("/events/show_employee/" + event.id);
		    },
		    events: '<%= my_event_feed_path %>',
   		})
   	})
</script>