<!DOCTYPE html>
<html>
<body>  
	<a href="/users/sign_out" data-method="delete">Sign_out</a>    
	<!-- MAIN -->
	<section id="home_main" class="bg-default">
		<div class="container slideIn">
			<div class="row">
				<div class="col-sm-6 col-xs-12 text-center">
					<%= image_tag('mac.jpg', :class => 'img-responsive') %>
				</div>
				<div class="col-sm-6 col-xs-12 text-center">
					<p class="home_main lead">
						Mac Parking Inc. is a Valet service serving all of South Florida. We provide an easy and seamless way to organize the parking logistics at your events. <a href="#home_contact_us">Contact us </a> to find out how we can help you with your next event.
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- END MAIN -->

	<!-- ABOUT -->
	<section id="home_about" class="bg-primary">
		<div class="container slideIn">
			
			<div class="row text-center">
				<div class="col-xs-12 col-sm-4">
					<h1><i class="big fa fa-users"></i></h1>
					<h2>Customer Oriented</h2>
					<p>From planning to the day of, Mac Parking can handle all of your parking needs. Just give us the information we need to start, and we'll be there guaranteed</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h1><i class="big fa fa-gavel"></i></h1>
					<h2>Licensed and Insured</h2>
					<p>Mac Parking is the company for you.</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h1><i class="big fa fa-briefcase"></i></h1>
					<h2>40+ Years Experience</h2>
					<p>Mac Parking is the company for you.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- END ABOUT -->

	<!-- ESTIMATE -->
	<section id="home_estimate" class="bg-success">
		<div class="container slideIn">
			<div class="row text-center">
				<div class="col-xs-12">
					<h2>Get a Free Estimate for your next event.</h2>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12 col-sm-6 text-center">
					<h3>Party Information</h3>
					<div class="col-xs-12">
						<div class="form-group">
							<label>Address</label>
						 <input id="autocomplete" class="form-control" placeholder="Address" onFocus="geolocate()" type="text"></input>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Guest Count</label>
							<input type="number" placeholder="Guest Count" onclick="$('#guestCount').val('')" class="form-control" id="guestCount" value="30">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Event Date</label>
							<input type="date" value="<%= Date.today %>" class="form-control estimateDate">
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group">
							<label id="estimateEmailLabel">Your Email</label>
						 	<input class="form-control" placeholder="Email" type="email" id='estimateEmail'></input>
						 </div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 text-center">
					<div class="col-xs-12">
						<h3>Estimate</h3>
						<div class="estimateBox center-block bg-default">
							<span class="lead estimate">
							</span>
						</div>
					</div>
					<br>
					<br>
					<div class="col-xs-12">
						<button class="btn btn-default btn-lg btn-block" id="estimateBtn" style="font-size:30px;">
							Estimate!
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ESTIMATE END -->

	<!-- SUBSCRIBE -->
	<section id="home_subscribe" class="bg-primary">
		<div class="container slideIn">
			<div class="row text-center">
				<div class="col-xs-12">
					<h2>Subscribe to our newsletter and promotional deals!</h2>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12 col-sm-6 center-block">
					<div class="form-group">
						<label>Email</label>
						<input type="email" class="form-control" id="newsEmail">
					</div>
					<button class="btn btn-default btn-block" id="newsButton" style="font-size:30px;">
						Subscribe!
					</button>
				</div>
			</div>
		</div>
	</section>
	<!-- END SUBSCRIBE -->

	<!-- CONTACT US FORM -->
	<section id="home_contact_us" class="bg-success">
		<div class="container slideIn">
			<div class="row">
				<div class="col-xs-12 center-block text-center">
					<h1>Contact Us</h1>
						<div class="col-xs-12 col-sm-4">
							<div class="form-group">
								<input class="form-control" type="name" placeholder="Name" id="contactName">
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="form-group">
								<input class="form-control" type="email" placeholder="Email" id="contactEmail">
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="form-group">
								<input class="form-control" type="phone" placeholder="Phone" id="contactPhone">
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
									<textarea class="form-control" rows="3" placeholder="Message" id="contactContent"></textarea>
							</div>
						</div>
						<div class="col-xs-12">
							<button type="submit" class="btn btn-default btn-block" id="contactButton" style="font-size:30px;">Send Message</button>
						</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END CONTACT US FORM -->
	
	<!-- ALERT -->
	<div class="alert alert-danger text-center" id= "alertBox" style="display:none;">
		<h3 id="alertText"></h3>
	</div> 
	<!-- END ALERT -->

	<!-- ALERT -->
	<div class="success alert-success text-center" id= "successBox" style="display:none;">
		<h3 id="successText"></h3>
	</div> 
	<!-- END ALERT -->
	<span class="home_login btn-group">
		<a href="<%=new_user_session_path%>" class="login btn-primary btn">Login</a>
		<a href=" <%=new_user_registration_path%>" class="signup btn-success btn">Signup</a>
	</span>
  <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
</body>
</html>