<!DOCTYPE html>
<html>
<head>
	<title>Mac Parking Inc.</title>
</head>
<body>      

	<section id="home_main" class="bg-default">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12 text-center">
					<%= image_tag('mac.jpg', :class => 'img-responsive') %>
				</div>
				<div class="col-sm-6 col-xs-12 text-center">
					<p class="home_main lead">
						Mac Parking Inc. is a Valet service serving all of South Florida. We provide an easy and seamless way to organize the parking logistics at your events. <a href="#home_contact_us">Contact us </a> to find out how we can help you with your next event.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section id="home_about" class="bg-primary">
		<div class="container">
			
			<div class="row text-center">
				<div class="col-xs-12 col-sm-4">
					<h1><i class="big fa fa-users"></i></h1>
					<h2>Customer Oriented</h2>
					<p>From planning to the day of, Mac Parking can handle all of your parking needs. Just give us the information we need to start, and we'll be there guaranteed</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h1><i class="big fa fa-gavel"></i></h1>
					<h2>Licensed and Insured</h2>
					<p>Mac Parking is the company for you.</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h1><i class="big fa fa-briefcase"></i></h1>
					<h2>40+ Years Experience</h2>
					<p>Mac Parking is the company for you.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="home_quote" class="bg-danger">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-12">
					Quote Widget
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 text-center">
					
				</div>
				<div class="col-xs-12 col-sm-6 text-center">
					
				</div>
			</div>
		</div>
	</section>
	<section id="home_contact_us" class="bg-success">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 center-block text-center">
					<h1>Contact Us</h1>
					<form id="contact_us">
						<div class="col-xs-12 col-sm-4">
							<div class="form-group">
								<input class="form-control" type="name" placeholder="Name">
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="form-group">
								<input class="form-control" type="email" placeholder="Email">
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="form-group">
								<input class="form-control" type="phone" placeholder="Phone">
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
									<textarea class="form-control" rows="3" placeholder="Message"></textarea>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>