/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.blue_no_hover {
	color:#428bca !important;
}
.blue_no_hover:hover {
	text-decoration: none;
	color: lightgrey !important;
}
a, a:link, a:visited {
	text-decoration: none;
	color: white ;
}
td a, td a:link,td a:visited {
	color: lightgrey !important;
}
a:hover {
	background-color: transparent ;
}
.dropdown-menu>li>a {
	color: black !important;
}
@media only screen and (max-width: 500px) {
    #alertText {
        font-size: 10px !important;
    }
    #successText {
        font-size: 10px !important;
    }
}