/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 */
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.blue_no_hover {
	color:#428bca !important;
}
.blue_no_hover:hover {
	text-decoration: none;
	color: #868686 !important;
}
.dropdown-menu>li>a {
	color: black !important;
}
section#home_main {
  padding-top: 10%;
  padding-bottom: 10%;
}
#home_main .jumbotron {
  margin-bottom: 0px;
}

@media only screen and (max-width: 988px) {
  .home {
       background-image: image-url('mobile_header.png') !important;
    }
   section#home_main {
      padding-bottom: 0px !important;
      padding-top: 5% !important;
    }
    .jumbotron p {
      font-size: 18px !important;
    }
}
@media only screen and (max-width: 500px) {
    .home {
       background-image: image-url('mobile_header.png') !important;
    }
    section#home_main {
      padding-bottom: 0px !important;
      padding-top: 5% !important;
    }
    .jumbotron p {
      font-size: 16px !important;
    }
    #alertText {
        font-size: 10px !important;
    }
    #successText {
        font-size: 10px !important;
    }
}

body.home section {
  padding-top: 15%;
  padding-bottom: 15%;
}

.home {
  background-image: image-url('skyline_logo.png');
  padding-top: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}
.home_jumbo {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white !important;
}

.deco_gradient {
  color: white;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,8e365e+7,1f4954+24,16343d+37,1f4954+59,16343d+87,8e365e+100,1b1b1b+100,8e365e+100 */
background: #959595; /* Old browsers */
background: -moz-linear-gradient(-45deg, #959595 0%, #8e365e 7%, #1f4954 24%, #16343d 37%, #1f4954 59%, #16343d 87%, #8e365e 100%, #1b1b1b 100%, #8e365e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #959595 0%,#8e365e 7%,#1f4954 24%,#16343d 37%,#1f4954 59%,#16343d 87%,#8e365e 100%,#1b1b1b 100%,#8e365e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #959595 0%,#8e365e 7%,#1f4954 24%,#16343d 37%,#1f4954 59%,#16343d 87%,#8e365e 100%,#1b1b1b 100%,#8e365e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#8e365e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#alertBox {
  position:fixed;
  top:0;
  left: 15%;
  z-index:99999;
  width:70%;
  color: white;
  background-color:#d43f3a;
  padding-top:0px;
  padding-bottom:5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 10px 0px grey;
}
#successBox {
  position:fixed;
  top:0;
  left: 15%;
  z-index:99999;
  width:70%;
  color: white;
  background-color:#5cb85c;
  padding-top:0px;
  padding-bottom:5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 10px 0px grey;
}
#home_contact_us {
    padding-bottom: 20% !important;
}