// Place all the styles related to the newsite controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

nav .nav-wrapper .brand-logo img{
    width: 20%;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: 15px;
    max-width: 100px;
}
.section.no-pad-bot {
    background-color: rgba(0, 0, 0, 0.65);
}

.button-collapse {
  color: #039be5;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  h1.header {
    font-size: 2.8em !important;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#alertBox {
	position:fixed;
	text-align: center;
	top:0;
	left: 15%;
	z-index:99999;
	width:70%;
	color: white;
	background-color:#d43f3a;
	padding-top:0px;
	padding-bottom:5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/*box-shadow: 0px 1px 10px 2px lightgrey;*/
}
#successBox {
	position:fixed;
	text-align: center;
	top:0;
	left: 15%;
	z-index:99999;
	width:70%;
	color: white;
	background-color:#5cb85c;
	padding-top:0px;
	padding-bottom:5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/*box-shadow: 0px 1px 10px 2px lightgrey;*/
}
.pac-container {
	z-index: 2000 !important;
}

.highlight {
	box-shadow: 0 0 10px 4px #fefff2 !important;
}
.carousel.initialized{
	height: 230px !important;
}