// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section#notes{
	width:100%;
	padding-top: 0px;
	padding-bottom: 10px;
}
li.note{
	padding: 10px;
}
li.noteAlt{
	background-color: #EFEFEF;
	padding: 10px;
}
li.note a, li.noteAlt a {
	color:#428bca !important;
}
li span.lead{
	margin-bottom: 0;
}
 @media screen and (max-width: 767px){
	span.lead{
		font-size: 12px;
	}
}