<!DOCTYPE html>
<html>
<head>
  <title>Mac Parking Inc.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script>
	
function alertBox (input) {
	$('#alertText').text(input)
	$('#alertBox').slideToggle(500)
	setTimeout(function() {$('#alertBox').slideToggle(500)}, 4000)
}

function successBox (input) {
	$('#successText').text(input)
	$('#successBox').slideToggle(500)
	setTimeout(function() {$('#successBox').slideToggle(500)}, 4000)
}
</script>
</body>
</html>
